<article class="person">
  <h1>{{ person.name }}</h1>
  <!--<address>Start Time :<a href="" rel="author">{{event.startTime}}</a></address>-->
  {{#if events.length}}
     <h3>Events </h3>
    <ul>
      {{#each events}}
        <li>
          <a href="/events/{{this.id}}">{{this.title}}</a>
          <p>time : {{this.startTime}}</p>
          <p>description : {{this.description}}</p>
          </li>
      {{/each}}
    </ul>
  {{/if}}
</article>