<article class="event">
  <h1>{{ event.title }}</h1>
  <time>Start Time :{{event.startTime}}</time>
  <p>{{ event.description }}</p>
  {{#if attendees.length}}
    <h3>Attendees</h3>
    <ul>
      {{#each attendees}}
        <li><a href="/posts/tag/{{this.name}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  <address>{{location.name}} </br>{{location.location}}</address>
</article>