<article class="event">
  <h1>{{ event.title }}</h1>
  <address>Start Time :<a href="" rel="author">{{event.startTime}}</a></address>
  <p>{{ event.description }}</p>
  {{#if event.attendees.length}}
    <h3>Tags</h3>
    <ul>
      {{#each event.attendees}}
        <li><a href="/posts/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
    <p>location : {{event.location}}</p>
</article>